/* xs */
@media (max-width: 575px) {
  .site-main .site-banner {
    padding: 0 1rem;
  }

  .site-banner h4 {
    line-height: 2rem;
  }

  .about-area .w-75 {
    width: 100% !important;
  }

  .about-area {
    padding: 3rem 1rem;
  }

  .site-main .brand-area {
    padding: 1rem 1rem;
  }

  .site-main .brand-area .first-area {
    margin: 1rem auto;
  }

  .site-main .brand-area .experience-area {
    padding: 2rem;
    margin: 0 auto;
  }
}

/* sm */
@media (min-width: 576px) and (max-width: 767px) {
  .site-main .site-banner {
    padding: 0 5rem;
  }

  .site-main .about-area .w-75 {
    width: 100% !important;
  }

  .site-main .brand-area {
    padding: 1rem 4rem;
  }

  .site-main .brand-area .first-area {
    margin: 1rem auto;
  }

  .site-main .brand-area .experience-area {
    padding: 2rem;
    margin: 0 auto;
  }
}

/* md */
@media (min-width: 768px) and (max-width: 991px) {

}

/* lg */
@media (min-width: 992px) and (max-width: 1199px) {
  .site-main .services-area .services-title {
    padding: 0 20%;
  }
}

/* xl */
@media (min-width: 1200px) {
  
}
