@import url(partials/_variable.css);
@import url(partials/_global.css);

/* start header area */

.header-area {
  padding: 1rem 10rem;
}

.header-area .navbar-brand {
  font-family: var(--pacifico);
  font-size: 2.2em;
  /* padding: 0 2rem; */
  background: linear-gradient(45deg, #4A12B8, #9B09CF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text
}

.header-area .nav-link {
  font-family: var(--roboto);
  font-weight: 500;
  text-transform: uppercase;
  color: #141313;
}

.header-area .navbar-nav .active a {
  background: var(--gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.header-area .navbar-nav a:hover {
  background: var(--gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

/* end header area */

/* start banner area */

.site-main .site-banner {
  padding: 0 10rem;
}

.site-main .site-banner h3 {
  padding-top: 20%;
  font-weight: 500;
}

.site-main .site-banner h3::after {
  content: '';
  width: 18vw;
  height: 2px;
  background: black;
  display: inline-block;
  margin-left: 5%;
  transform: translateY(-5px);
}

.site-main .site-banner h1 {
  font-size: 5rem;
}

.site-main .site-banner h4 {
  font-size: 1.5rem;
}

.site-main .site-banner img {
  width: 90rem;
}

/* end banner area */

/* about area */

.site-main .about-area {
  padding: 8rem 5rem;
}

.about-area .about-image {
  margin-top: 30px;
}

.site-main .about-title span {
  display: block;
  font: normal bold 49px/60px var(--roboto);
  letter-spacing: 15px;
}

.site-main .about-title p {
  padding: .4rem 0;
}

/* end about area */

/* brand area */

.site-main .brand-area {
  padding: 1rem 10rem;
  margin-bottom: 4rem;
}

.site-main .brand-area .first-area .col-lg-4 {
  display: flex;
  justify-content: center;
}

.site-main .brand-area .single-brand {
  border: 1px solid #201f1f17;
  text-align: center;
  padding: .8rem 0;
  margin: .9rem auto;
  width: 140px;
  height: 100px;
  cursor: pointer;
  transition: .4s ease;
  filter: grayscale(100%);
}

.site-main .brand-area .single-brand:hover {
  box-shadow: var(--box-shadow);
  transform: scale(1.1);
  filter: grayscale(0%);
}

.site-main .brand-area .single-brand img {
  height: 100%;
}

.site-main .brand-area .experience-area {
  background-color: rgba(42, 4, 232, 0.1);
  padding: 1.8em;
  position: relative;
}

.site-main .brand-area .experience-area::before {
  content: '';
  display: block;
  position: absolute;
  width: 140px;
  height: 140px;
  top: 20px;
  border: 3px dashed #aaa;
  border-radius: 6px;
}

.site-main .brand-area .experience-area span {
  display: block;
}

.site-main .brand-area .years-area {
  margin-bottom: 7rem;
}

.site-main .brand-area .years {
  font: normal bold 100px/60px var(--roboto);
  color: var(--secondary-color);
}

.site-main .brand-area .years-area h2 span {
  font: normal 700 28px/30px var(--roboto);
  letter-spacing: 2px;
}

.site-main .brand-area .call-area {
  margin-bottom: 2rem;
  margin-left: 1rem;
}

/* end brand area */

/* services area */

.site-main .services-area {
  padding: 7rem 2rem;
}

.site-main .services-area .services-title {
  padding: 0 14rem;
}

.site-main .services-area .services-title h1 {
  font-size: 35px;
}

.site-main .services-area .service {
  background: rgba(248, 252, 253, .973);
  padding: 2rem 0;
  margin: 5rem .5rem;
  width: 16rem;
  transition: .7s ease;
}

.site-main .services-area .service:hover {
  box-shadow: var(--box-shadow);
}

.site-main .services-area .services-img img {
  height: 70px;
}

/* end services area */

/* project area */

.site-main .project-area {
  padding: 4rem 0;
}

.site-main .project-area .button-group button {
  background: transparent;
  border: none;
  font: normal 500 16px/24px var(--roboto);
  text-transform: uppercase;
  margin: 4rem 3rem 4rem 0;
}

.site-main .project-area .our-project .img {
  padding-bottom: 1rem;
}

.site-main .project-area .our-project .title {
  padding-bottom: 30px;
}

.site-main .project-area .our-project h4 {
  font: normal 700 25px/12px var(--roboto);
}

.project-area .our-project .img a {
  transition: .4s ease;
}

.project-area .our-project .img a:hover {
  filter: brightness(1.1) drop-shadow(1px 8px 30px #b1afaf);
}

/* end project area */
