/* @import url(./partials/_variable.css);
@import url(./partials/_global.css); */

/* start header area */

.header-area {
  padding: 1rem 10rem;
}

.header-area .navbar {
  background: #fff !important;
  transition: .3s;
}

.header-area .nav-link {
  font-family: var(--roboto);
  font-weight: 500;
  text-transform: uppercase;
  color: #141313;
}

.header-area .navbar-nav .active a {
  background: var(--gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.header-area .navbar-nav a:hover {
  background: var(--gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

/* end header area */

/* start banner area */

.site-banner {
  padding: 0 10rem 3rem;
}

.site-banner h3 {
  padding-top: 20%;
  font-weight: 500;
}

.site-banner h3::after {
  content: '';
  width: 18vw;
  height: 2px;
  background: black;
  display: inline-block;
  margin-left: 5%;
  transform: translateY(-5px);
}

.site-banner h1 {
  font-size: 5rem;
}

.site-banner h4 {
  font-size: 1.5rem;
  line-height: 2rem;
  padding: 1.4rem 0;
}

.site-banner img {
  width: 90rem;
}

.site-banner button {
  width: 9em !important;
  margin-bottom: 1rem;
}

/* end banner area */

/* about area */

.about-area {
  padding: 4rem 10rem;
}

.about-area .about-image {
  margin-top: 30px;
}

.about-title span {
  display: block;
  font: normal bold 49px/60px var(--roboto);
  letter-spacing: 15px;
}

.about-title p {
  padding: .4rem 0;
}

/* end about area */

/* brand area */

.brand-area {
  padding: 4rem 10rem;
  /* margin-bottom: 4rem; */
}

.brand-area .first-area {
  margin-bottom: 1rem;
}

.brand-area .first-area .col-lg-4 {
  display: flex;
  justify-content: center;
}

.brand-area .single-brand {
  border: 1px solid #201f1f17;
  text-align: center;
  padding: .8rem 0;
  margin: .9rem auto;
  width: 140px;
  height: 100px;
  cursor: pointer;
  transition: .4s ease;
  filter: grayscale(100%);
}

.brand-area .single-brand:hover {
  box-shadow: var(--box-shadow);
  transform: scale(1.1);
  filter: grayscale(0%);
}

.brand-area .single-brand img {
  height: 100%;
}

.brand-area .experience-area {
  background-color: rgba(42, 4, 232, 0.1);
  padding: 1.8em;
  position: relative;
}

.brand-area .experience-area::before {
  content: '';
  display: block;
  position: absolute;
  width: 140px;
  height: 140px;
  top: 20px;
  border: 3px dashed #aaa;
  border-radius: 6px;
}

.brand-area .experience-area span {
  display: block;
}

.brand-area .years-area {
  margin-bottom: 7rem;
}

.brand-area .years {
  font: normal bold 100px/60px var(--roboto);
  color: var(--secondary-color);
}

.brand-area .years-area h2 span {
  font: normal 700 28px/30px var(--roboto);
  letter-spacing: 2px;
}

.brand-area .call-area {
  margin-bottom: 2rem;
  margin-left: 1rem;
}

/* end brand area */

/* services area */

.services-area {
  padding: 4rem 8rem;
}

.services-area .services-title {
  padding: 0 14rem 1rem;
}

.services-area .services-title h1 {
  font-size: 35px;
}

.services-area .service {
  background: rgba(248, 252, 253, .973);
  padding: 2rem 0;
  margin: 1rem .5rem;
  width: 16rem;
  transition: .7s ease;
}

.services-area .service:hover {
  box-shadow: var(--box-shadow);
}

.services-area .services-img img {
  height: 70px;
}

/* end services area */

/* project area */

.project-area {
  padding: 4rem 0;
}

.project-area .button-group {
  padding: 3rem 0;
}

.project-area .button-group button {
  background: transparent;
  border: none;
  font: normal 500 16px/24px var(--roboto);
  text-transform: uppercase;
  margin-right: 3rem;
}

.project-area .our-project .img {
  padding-bottom: 1rem;
}

.project-area .our-project .title {
  padding-bottom: 30px;
}

.project-area .our-project h4 {
  font: normal 700 25px/12px var(--roboto);
}

.project-area .our-project .img a {
  transition: .4s ease;
}

.project-area .our-project .img a:hover {
  filter: brightness(1.1) drop-shadow(1px 8px 30px #b1afaf);
}

/* end project area */

/* about me area */

.aboutme-area {
  padding: 4rem 0;
}

.aboutme-area .about-title p {
  padding: 1rem 7rem;
}

.aboutme-area .client {
  background: #ffffff10;
  box-shadow: var(--box-shadow);
  margin: 3rem 0;
  padding: 2rem 1rem;
}

.aboutme-area .client img {
  border-radius: 5px;
  margin-bottom: 1rem;
}

.aboutme-area .about-client h4 {
  font: normal 500 21px/20px var(--roboto);
}

.aboutme-area .about-client p {
  font-size: 14px;
  font-style: italic;
}

.aboutme-area .owl-carousel .owl-item {
  display: flex;
  justify-content: center;
  padding: 0 1.5rem;
}

.aboutme-area .owl-carousel .owl-dots .owl-dot.active span {
  background: var(--primary-color);
}

/* end about me area */

/* subscribe me area */

.subscribe-us-area .subscribe {
  background: var(--gradient-color);
  padding: 10rem 0;
  margin: 4rem auto;
  border-radius: 5px;
}

.subscribe-us-area .subscribe-title h4 {
  font: normal 700 30px/30px var(--roboto);
  color: whitesmoke;
}

.subscribe-us-area .subscribe-title p {
  color: whitesmoke;
  padding: 1rem 3rem 2rem;
}

.subscribe-us-area .input-textbox input {
  width: 400px;
  padding: 1.5rem 1rem;
  border: 1px solid whitesmoke;
  background: transparent;
  color: white;
  font: normal 500 17px/20px var(--roboto);
  margin-bottom: 1rem;
}

.subscribe-us-area .input-textbox input::placeholder {
  color: whitesmoke;
}

.subscribe-us-area .back-icon {
  position: relative;
}

.subscribe-us-area .back-icon i {
  position: absolute;
}

.subscribe-us-area .back-icon i:nth-child(1) {
  font-size: 100px;
  color: #ddd;
  bottom: 9rem;
  left: 12%;
  transform: rotate(-25deg);
  transform-origin: bottom;
}

.subscribe-us-area .back-icon i:nth-child(2) {
  font-size: 42px;
  color: #ddd;
  bottom: 9rem;
  left: 18%;
  transform: rotate(10deg);
  transform-origin: bottom;
}

.subscribe-us-area .back-icon i:nth-child(3) {
  font-size: 64px;
  color: #ddd;
  bottom: 7rem;
  right: 15%;
}

/* end subscribe me area */

/* footer area */

.footer-area {
  padding: 5rem 0;
}

.footer-area .social h5 {
  font: normal 500 23px/30px var(--roboto);
}

.footer-area .social i {
  font-size: 22px;
  padding: 1.8rem;
  color: #bbb;
}

.footer-area .social i:hover {
  color: var(--primary-color);
}

/* end footer area */